body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    margin-left: 80px;
    margin-top: 30px;
    
  }
  
  #navbar a {
    float: left;
    display: block;
    color: rgb(243, 61, 91);
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  #navbar a:hover {
   
    color:  rgb(255, 97, 97);
  }


  
.header{
 
  margin: 200px 100px;
  height: 100px; 
  border-bottom: 2px solid;
  border-image:  linear-gradient( rgb(255, 102, 0),rgb(243, 61, 91));
  border-image-slice: 1;
 
}
 

h3{
  font-size: 18px;
}

span{
  font-size: 35px;
  color: rgb(243, 61, 91);
}


/* responsive for mobile device */


@media only screen and (max-width:468px) and (min-width:320px){
  body{
    margin: 0;
  }
  
  #navbar {
 
    margin-left: 20px;
    margin-top: 30px;
    
  }
  
  #navbar a {
    text-align: left;
    padding: 5px;
    font-size: 12px;
  }
  

.header{
  border-bottom: 1px solid;
  margin: 100px 20px;
  height: 60px; 
}

h3{
  font-size: 15px;
}


span{
  font-size: 20px;
}

 
}