

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.logo img{
  width:12%;
  float: right;
  position: absolute;
  right: 20px;;
 top: 20px;
}

button{
    width: 60px;
    height: 40px;
   
    margin:0 155px  ;
    background-color: rgb(247, 121, 142);
    border: 1px 1px solid white;
    border-radius:  10px;
  
}

.fas{
    color: white;
}



.content h2{
  color: rgb(243, 61, 91);
  margin-top: 150px;
  text-align: center;
}

.content h3{
  color:rgb(243, 61, 91) ;
  text-align: center;
}
table{
  
  background-color: rgb(247, 121, 142);
  border-collapse: collapse;
  border-radius: 50px;
  box-shadow: 1px 5px 15px grey;
  width: 800px;
  height: 400px;
  text-align: center;
  margin-left: 370px;
  margin-top: 30px;
  margin-bottom: 200px;
  padding-bottom: 300px;
}

td,th{
  border: 1px solid lightgray;
  padding: 10px;
}
th{
  padding: 30px;
}






/* responsive for mobile device */
    
    
@media only screen and (max-width:468px) and (min-width:320px){
  body{
    margin: 0;
  }
 
   .logo img {
    width:15%;  
     right: 10px;
     top:30px;
   }
  
   button{
    width: 40px;
    height: 40px;
    
    margin:50px  0 0 50px ;


}
 .fas{
font-size: 20px;

}

.content h2{
  font-size: 15px;
  margin-bottom: -60px;
  margin-top: 60px;
  margin-left: 60px;
}

.content h3{
 font-size: 12px;
  margin-top: 60px;
  margin-left: 50px;
}
table{
  width: 300px;
  height: 200px;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 300px;
  border-radius: 15px;
}

td,th{
  padding: 1px;
  font-size: 10px;
}
th{
  padding: 3px;
  font-size: 11px;
}

}