@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');




* {
  box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

.logo img{
  width:12%;
  float: right;
  position: absolute;
  right: 20px;;
 top: 20px;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 200px 100px;
  

}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/*footer*/

.footer{
    display: flex;
      color :black;
      text-align: left;
    margin-top: 150px;
    background-color: rgb(247, 121, 142); 
    
      padding-top: 10px;
    padding-left: 30px;
  }
  .footer{
    margin:40px 0 0;
  }
  .footer1{
   width: 50%; 
  }
  #footertext1{
    padding: 50px 100px 30px;  
  }
  
  #footertext2 h3{
    padding-left: 370px;
    padding-top: 80px;
  }
  
  
  .footer1 a{
    text-decoration: none;
    height: 100px;   
    size: 50px;
  }
  .footer1 .fab{
    color: #444; 
  }
  .footer1 .fas{
    color: #444; 
  }
  
  .footer1 img{
    width: 250px;
    height: 30%; 
    margin-left: 300px;
  }
  
  
    
    
    
    
  /* responsive for mobile device */
    
    
 @media only screen and (max-width:468px) and (min-width:320px){
      body{
        margin: 0;
      }
     
       .logo img {
        width:15%;  
         right: 10px;
         top:30px;
       }
    

       .row{
         width: 100%;
         margin: 0px;
       }

     
      
      
     /*footer*/
  
  
  .footer{
    margin-top: 100px;
    margin-bottom: -5px;
    font-size: 10px;
  
  }
  .footer1{
   width: 20%; 
  }
  #footertext1{
    padding: 0;  
    text-align: left;
  }

  .footer1 .fab{
    font-size: 15px;
  }
  
  .footer1 .fas{
    font-size: 15px;
  }
  .footer1 img{
    width: 80px;
    height: 20%; 
    margin-left: 200px;
  }
  
  #footertext2 h3{
    font-size: 12px;
    text-align: left;
    margin-left: 0;
    margin-top: 80px;
    padding: 0 0 0 220px  ;
  }
    }